spring:
  datasource:
    url: jdbc:h2:file:/Users/myalley/Desktop/h2/h2sql;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: password
  main:
    allow-bean-definition-overriding: true
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

logging:
  level:
    root: debug

jwt:
  token:
    access: jwtsecret
    refresh: jwtrefresh
  expire:
    time: 360000