<?xml version="1.0" encoding="UTF-8" ?>
<included>
    <springProperty name="SLACK_WEBHOOK_URL" source="notification.slack.webhook.url"/>
    <springProperty name="SLACK_WEBHOOK_USER_NAME" source="notification.slack.botName"/>
    <springProperty name="SLACK_WEBHOOK_EMOJI" source="notification.slack.icon.emoji"/>
    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${SLACK_WEBHOOK_URL}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-4relative [%thread] %-2level %logger{0}:%class - %msg%n</pattern>
        </layout>
        <username>${SLACK_WEBHOOK_USER_NAME}</username>
        <iconEmoji>${SLACK_WEBHOOK_EMOJI}</iconEmoji>
        <colorCoding>true</colorCoding>
    </appender>
    <!-- Currently recommended way of using Slack appender -->
    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    <root>
        <level value="ALL"/>
        <appender-ref ref="ASYNC_SLACK"/>
    </root>
</included>